@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}
.bg-seconday-color {
  background-color: var(--text-color) !important;
}
.bg-third-color {
  background-color: var(--secondary-color);
}

.space-content {
  margin-top: 5rem !important;
}

.view {
  display: flex;
  background-color: var(--secondary-color);
  align-items: center;
  min-height: 50vh;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
:root {
  --font-family: "Raleway";
  --primary-color: #ffb137;
  --secondary-color: #40537d;
  --text-color: #041d54;
  --hover: #fafafa;
  --preto: #232529;
  --btn-background: #27ae60;
}
