@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800;900&display=swap');
    :root {
        --font-family: "Raleway";
        --primary-color: #FFB137;
        --secondary-color: #40537D;
        --text-color: #041D54;
        --hover: #fafafa;
        
    }
